<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">


    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="ApplicationResources"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean> 
    
    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.openbet.socailbetting.engine"/> 

    <!-- Add new DAOs here -->

    <!-- Add new Beans here -->
    <bean id="opponentSearchExpireListen" class="com.openbet.socailbetting.executor.listener.OpponentSearchExpireLisener"/>
    
    <bean id="defaultStartOpponentTimerCommand" class="com.openbet.socailbetting.executor.DefaultStartOpponentTimerCommand" init-method="init" depends-on="redisTemplate" lazy-init="false">
    	<property name="opponentListener" ref="opponentSearchExpireListen"/>
    </bean>
    
    <bean id="defaultAddOpponentTargetCommand" class="com.openbet.socailbetting.executor.DefaultAddOpponentTargetCommand">
    	<property name="ruleDao" ref="ruleDao"/>
    </bean>
    
    <bean id="defaultAddFriendCommand" class="com.openbet.socailbetting.executor.DefaultAddFriendCommand"/>
   
    <bean id="defaultSetExpectedLevelCommand" class="com.openbet.socailbetting.executor.DefaultSetExpectedLevelCommand"/>
    
    <bean id="defaultValidateOpponentCommand" class="com.openbet.socailbetting.executor.DefaultValidateOpponentCommand" />
    
    <bean id="defaultCalculateOddsCommand" class="com.openbet.socailbetting.executor.DefaultCalculateOddsCommand"  />
    
    <bean id="defaultValidateMinBetCommand" class="com.openbet.socailbetting.executor.DefaultValidateMinBetCommand" />
    
    <bean id="defaultValidateMaxBetCommand" class="com.openbet.socailbetting.executor.DefaultValidateMaxBetCommand" />
    
    <bean id="defaultStartCompletionTimerCommand" class="com.openbet.socailbetting.executor.DefaultStartCompletionTimerCommand" init-method="init" depends-on="redisTemplate" lazy-init="false">
    	<property name="completionListener" ref="completionExpireListen"/>
    </bean>
    
    <bean id="defaultCallbackCommand" class="com.openbet.socailbetting.executor.DefaultCallbackCommand" >
    	<property name="restTemplate" ref="restTemplate"/>
    </bean>
    <bean id="completionExpireListen" class="com.openbet.socailbetting.executor.listener.CompletionExpireLisener"/>
    
    <bean id="defaultStartEvaluationCommand" class="com.openbet.socailbetting.executor.DefaultStartEvaluationCommand" />
    
    <bean id="defaultValidateAllOpponentsCompletedCommand" class="com.openbet.socailbetting.executor.DefaultValidateAllOpponentsCompletedCommand" /> 
    
    <bean id="defaultSettlementRuleExecutionCommand" class="com.openbet.socailbetting.executor.DefaultSettlementRuleExecutionCommand" />
           
    <bean id="defaultLowestValueWinExecutionCommand" class="com.openbet.socailbetting.executor.DefaultLowestValueWinExecutionCommand" />
     
    <bean id="defaultHighestValueWinExecutionCommand" class="com.openbet.socailbetting.executor.DefaultHighestValueWinExecutionCommand" />     

    <bean id="playerLevelHighValidator" class="com.openbet.socailbetting.executor.PlayerLevelHighValidator" />   
    
    <bean id="playerLevelLowValidator" class="com.openbet.socailbetting.executor.PlayerLevelLowValidator" />  
        
    <bean id="playerLevelEqualValidator" class="com.openbet.socailbetting.executor.PlayerLevelEqualValidator" />     
       
      


</beans>